body {
    background-color: black; /* Body background color */
    color: #333; /* Text color, you can adjust as needed */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Use a professional font */
}

header {
    padding: 20px;
    padding-top: 1px; /* Add padding to the header */
}

.container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between left and right */
    align-items: center; /* Center vertically */
    max-width: 1200px; /* Max width of the container */
    margin: 0 auto; /* Center the container */
    padding-top: 20px; /* Space above the container */
}

.left {
    max-width: 50%; /* Limit width of text section */
}

h1 {
    font-size: 2.5rem; /* Heading size */
    margin-bottom: 10px; /* Space below heading */
    color: rgb(255, 190, 92);
}

span {
    color: rgb(255, 190, 92); /* Change span color to a professional blue */
}

p {
    margin: 20px 0; /* Space above and below paragraph */
    font-size: 1.2rem;
    font-weight: bold;
}

.btn {
    background-color: rgb(255, 190, 92); /* Button background color */
    color: #333; /* Button text color */
    padding: 10px 20px; /* Padding for button */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners for button */
    transition: background-color 0.3s; /* Smooth transition */
    font-size: 1.2rem;
}

.btn:hover {
    background-color: beige; /* Darker color on hover */
}

.right {
    max-width: 40%; /* Limit width of image section */
    margin-top: 50px;
    border-radius: 10px;
}

img {
    width: 100%; /* Make the image responsive */
    border-radius: 10px; /* Rounded corners for image */
    margin-top: 20px; 
}